html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	width:100%;
	height:100%;
	font-family:Arial,sans-serif;
	font-size:0.8em;
	margin:0;padding:0;
}



#metaElement {
	height: 100%;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 5px;
    padding: 5px;
    min-width: 67%;
    min-height: 18px;
    margin: 3px;
}
#top {
	width:calc( 100% - 10px );
	height:100px;
	background-color:#CCC;
	color:#000;
	padding-left:10px;
	-webkit-box-shadow:0px 10px 10px #AAA;
	-moz-box-shadow:0px 10px 10px #AAA;
	box-shadow:0px 10px 10px #AAA;
}

#top img.logo {
	margin-top:20px;
	float:left;
}

#top img.github {
	height:25%;
}

#top h1 {
	margin:0;
	padding:0;
	padding-left:15px;
	padding-top:30px;
	color:#0d2636;
	width:50%;
	float:left;

}
#top a.github {
	float:right;
	margin-right:20px;
	margin-top:20px;

}

#top a.github img {
	height:40%;
}
#middle {
	margin-top:10px;
	width:100%;
}
.side {

	float:left;
	width:40%;
	padding:5px;
}
.shallow {
	font-size:0.8em;
}

/* ------ UNIVERSE ------- */

#universe {

	background-color:#000;
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

#renderBox {

	position:absolute;
	z-index:3;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

img#spinner {

	position: absolute;
	z-index:5;
	top:calc( 50% - 100px );
	left:calc( 50% - 100px );

}

canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
}

img#spinner {

  transition: all linear 0.5s;

}

img#spinner.ng-hide {

  opacity: 0;

}


#navbar {

    height:75px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    background-color: rgba(0,0,0,0.7);

}

#navbar > .logo {

    margin-top:25px;
    margin-left:10px;
    display: inline-block;

}

#navbar .cluster {

    font-size:1.5em;
    position:absolute;
    width:300px;
    top:calc( 50% - 5px );
    left:calc( 50% - 150px );
    color:#FFF;
    text-align: center;
    font-variant: small-caps;
}

#navbar .menu {

    float:right;
    color:#FFF;
    font-size:3em;
    margin:20px;
}


#navbar .menu .dropdown {
	
	width: 300px;
    background-color: #000;
    height: 500px;
    margin-right: -20px;

}