#home {

	height:100%;
	width:100%;
	background-color: #000;

}

#home .viewPort {

	background:url('/assets/img/cover.jpg');
	background-size:cover;
    background-position: center;	
	width:100%;
	height:100%;

}

#home .viewPort > img {

	width:500px;
	position: absolute;
	top:150px;
	left:calc( 50% - 250px );

}

#home .viewPort > .register {

	position:absolute;
	bottom:125px;
	left:calc( 50% - 225px );

	width:450px;
	height:175px;
	background-color: rgba(255,255,255,0.3);
	border:1px solid #FFF;
	border-radius: 5px;
}

#home .info {
	width:100%;
	height:100%;
	background-color: #000;
}

#home .footer {
	width:100%;
	height: 100%;
	background-color: #000;
}