

#right-nav {

    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 0;
    width: 50px;
    z-index: 30;

}

.floatBtn span {

    background-color: rgba(0,0,0,0.3);
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    border:1px solid #727272;
    font-size:14px;
    line-height: 24px;
    cursor:pointer;
    margin:5px;
    transition:0.2s;
}

.floatBtn span:hover {

    background-color: rgba(72,40,72,0.3);

}

.floatBtn span:active {

    border-color: rgba(72,40,72,0.3);
    color: rgba(200,175,200,0.3);

}

.floatBtn-large {
    font-size:24px;
    width:32px;
    height:32px;
    line-height:32px;
}

#navOverlay {
    
    position: absolute;
    top:10px;
    right:10px;
    z-index:100;

}

#top-nav-messages {
    
    position: absolute;
    top:100px;
    width:500px;
    height:70px;
    left:calc( 50% - 250px );
    text-align: center;
    font-size:2em;
    font-variant: small-caps;
    background-color: rgba(0,0,0,0.0);
    z-index:100;
    transition: 0.2s;
    color:#FFF;
    cursor:pointer;

}

#left-bottom-nav {
    min-height:42px;
    min-width:120px;
    width:50%;
    position:absolute;
    bottom:5px;
    left:5px;
    z-index:30;
}

#left-bottom-nav > span {
    display: block;
    float:left;
    min-width:33%;
    color:#FFF;
}

#left-bottom-nav > span > h2 {
    clear:both;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        font-size:14px;

}

#left-bottom-nav > span > span {
    display: block;
    float:left;
}

#right-bottom-nav {
    
    position:absolute;
    bottom:0;
    right:0;
    height:33%;
    min-height:200px;
    width:33%;
    min-width:300px;
    background-color: rgba(72,40,72,0.1);
    border:1px solid rgba(72,40,72,0.5);
    border-radius:5px;
    z-index:30;
    color:#FFF;
}

#right-bottom-nav h2 {
    margin:0;
    padding:0;

}

.log-window {

    position:absolute;
    z-index:0;
    top:150px;
    right:150px;
    width:25%;
    height:30%;
    font-size:0.9em;
    background-color:rgba(255,255,255,0.3);
    opacity:0;
    border-radius:5px;
    overflow-y:scroll;
}

.log-window-call {

    opacity:1;
    z-index:20;

}

.log-window > h2.title {

    cursor: pointer;
    display:block;
    background-color:rgba(255,255,255,0.7);
    color:#000;
    height:30px;
    font-size:28px;
    line-height:28px;
    margin-top:0;
    margin-bottom:3px;
    text-align:center;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}

.log-window > .log-window-message {
    
    display: block;
    height:auto;
    margin-bottom:5px;
    margin-left:5px;

}

.right-nav {

    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 0;
    width: 100px;
    z-index: 30;

}