/* General */


.color-red {
    color:#6F0000;
}

a:hover {
    text-decoration: none;
}

a#topLogo {
    padding-top: 14px;
    display: block;
    float: left;
    margin-left: 10px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#23527c;
}

.navbar-default .navbar-nav>li>a {
    color:#337ab7;
}

/* Content */
#content-main {

    height:calc( 100% - 53px );
    background-color:#000;

}

ul.nav > li > a {color:#FFF;}

.default-page {

    position:relative;
    height:100%;
    width:100%;
    color:#FFF;

}

#main {
    background-color:#000;
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%;
}

#main > .cover {

    background:url('http://api.universe/data/textures/skybox/skybox6.jpg');

}

#main > .cover img {

    position:absolute;
    top:calc( 50% - 58px );
    left:calc( 50% - 500px );

}

#main-content {

    padding-top:60px;

}

#main-content > .row {
    margin:0;
}

a.scrollToFloating {

    position:absolute;
    bottom:10%;
    left:calc( 50% - 24px );

}

a.scrollTo {
    cursor:pointer;
    display:block;
    width:48px;
    height:48px;
    color:#FFF;
    border-radius:24px;
    border:3px solid #FFF;
    text-align:center;
    padding-top:10px;
    font-size:1.2em;

}

.main-quote {

    padding-top:30px;
    

}

#main > .box {

    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#main > .box1 {
    background:url('http://api.universe/data/textures/skybox/skybox8.jpg');
    background-size: cover;


}

#main > .box2 {
    background:url('http://api.universe/data/textures/skybox/skybox4.jpg');
    background-size: cover;
}

/*

Enscroll

*/

.vertical-track {
    width: 10px;            /* How wide is the scrollbar going to be? */
    background-color: #000; /* What color should the vertical track be? */
}
.vertical-handle {
    width: 10px;            /* How wide is the scrollbar handle? */
    background-color: #aaf; /* What color should the handle be? */
}

/*

Fluidity

*/

.nav > li > a {
    color:#fff;
}

.container-fluid {

    height:calc( 100% - 51px );
    width:100%;
    margin:0;
    padding:0;

}


.global-container-sizing {

    height:100%;
    width:100%;

}


/* Modals */
.modal-content {
    font-size:0.9em;
    background:#FFF;
    color:#000;
    border:3px solid #204F77;
}

body.modal-open {

    overflow-y: none;
    padding-right: 0 !important;

}


.global-modal-txt {
    display:block;
}

.global-modal-err {
    color:#b30000;
    display:block;
}

/* NavBar */
.navbar-default {

    background-color:#000;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    position:relative;

}

/* modules */
.main-box-register {

    border-radius:5px;
    padding:5px;

}

.main-box-register > .form-group {

    margin-bottom:5px;

}

/* OVERLAYS */


#render-box {
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.system-menu-left {
    position:absolute;
    z-index: 4;
    left:-33%;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.66);
    width:33%;
}

#system-menu-righttop {
    position:absolute;
    z-index: 3;
    top:0px;
    right:0;
    height:33%;
    width:38px;
}

#system-menu-rightbottom {
    position:absolute;
    width:300px;
    left:calc( 100% - 300px );
    bottom:0;
    height:250px;
    overflow:hidden;
    z-index: 4;
}

/* STORYBOARD */

#storyboard {

    position:absolute;
    z-index:5;
    left:10%;
    right:10%;
    top:10%;
    bottom:10%;
    width:80%;
    height:80%;
    overflow:hidden;
    display:none;
    background-color:rgba(0,0,0,0.85);
    border:1px solid #333;
    border-radius:5px;
    padding:0 10px 0 10px;

}

#story-border > .row {
    width:100%;
}

#storyboard-item {
    width:100%;
}

#storyboard-header {

    height:100px;width:100%;

}

.storyboard-form-txt .storyboard-form-info {

    font-size:0.8em;

}

.storyboard-header-name {
        font-size: 2em;
    font-family: ACapt;
    text-align: right;
    color: white;
    text-shadow: 4px 3px 2px rgba(150, 150, 150, 0.67);
    margin-bottom: 5px;
    margin-top: 20px;
}

#storyboard-data {
    height:calc( 100% - 100px);
    width:100%;
}

#storyboard-data .popover {

    background-color:#000;
    border:1px solid #333;
    font-size:0.8em;

}
#storyboard-data .popover-title {
    display:none;
}


/* APP BUTTONS */

a.inf-button {
    background: #000;
    cursor: pointer;
    width:36px;
    height:36px;
    border-radius:4px;
    padding: 5px 5px 5px 5px;
    border:1px solid #333;
    display: block;
    text-align:center;
    margin-top:3px;
}

.inf-button-over {
    background: #ccc;
}


/* Boxes */


#stats-box {
    
    height:100%;
    width:100%;
    text-align: left;
    background-color:rgba(0,0,0,0.5);

}

#stats-nav {

    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:36px;
    text-align:center;

}

#stats-nav :after {
    clear:both;
}

#stats-yr {

    font-size:1.5em;
    font-family: ACapt;
    text-align:left;
    color:white;
    text-shadow: 4px 3px 2px rgba(150, 150, 150, 0.67);
    height:40px;
    padding-bottom:5px;

}

#stats-yr > span {
    display:block;
    float:right;
    margin-right:5px;
}

.stats-nav-nav {
    float:left;
    width:25px;
    padding:0;
    margin-top:10px;
    display:block;
}

.stats-nav-nav > a {
    cursor:pointer;
}

.stats-nav-navr {
    float:right;
}

.stats-nav-txt {
    float:left;
    width:calc( 100% - 100px );
    height:100%;
    overflow:hidden;
    font-size:0.9em;
}

.stats-nav-txt > a {
    margin:0;
    padding:0;
    padding-top:10px;
    display:block;
}

.stats-list {
    position:relative;
    width:100%;
    color:lightblue;
    font-size:0.8em;
}

