@CHARSET "UTF-8";

html,body {
	overflow:hidden;
    height: 100%;
    background-color: #000;
}

/* Fonts */
/* FOR IE
@font-face {
 font-family: Myrd;
 src: url("/assets/fonts/MyriadPro-Regular.eot")
}
*/

@font-face {
 font-family: ACapt;
 src: url("/assets/fonts/American Captain.ttf") /* TTF file for CSS3 browsers */
}

/* Remove Button Focus For Chrome */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    outline-style: none; 
    -moz-outline-style:none;
}

a:active, a:focus { outline-style: none; -moz-outline-style:none; outline:none; }

.modal-open{overflow:hidden;
overflow-y:hidden;}