.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: rgba(0,0,0,0);
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-right {

    margin:0;

}

.dropdown-menu {
    background-color: rgba(0,0,0,0.9);    
}
.dropdown-menu>li>a {
    color:lightblue;
    background-color:rgba(0,0,0,0.9);


}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color:rgba(0,0,0,0.9);
    color:#23527c;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Top Nav*/

.inline-topnav {

    width:33%;
    height:40%;
    top:0;
    right:0;
    position:absolute;
    z-index:10;
    background-color:rgba(0,0,0,0.7);
    overflow:hidden;
}

/* Chat Box */
#chat-box  {

    font-size:0.8em;

}

.chat-box-channel {

    width:100%;
    height:150px;
    overflow-y:scroll;
    color:#7fe22a;
    vertical-align:text-bottom;

}

#chat-form > input {
    width:100%;
    height:25px;
    background-color:rgba(15,15,15,0.7);
    color:#AAA;
}

.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}


#nav-credits {

    float: right;
    margin-right: 20px;
    height: 42px;
    font-size: 1.5em;
    width: 300px;
    margin-top: 10px;
    color: #FFF;
    text-align: right;

}

a#nav-stats-toggle {
    cursor:pointer;
    color:#FFF;
    font-size:0.8em;
}

a#nav-stats-toggle:hover {
    color:#CCC;
}

a#nav-stats-toggle > i {

    color:#C1AB33;

}

#nav-stats-data  {
    width:100%;
    height:100%;
}

#nav-stats {

    font-family: ACapt;
    z-index:120;

}

.nav-name {

    color:#23527c;
    padding-top:15px;
    font-size:1em;
    padding-left:30px;

}

/* STORYBOARD */
#form-storyboard-add {
    margin-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid #23527c;
}

.storyboard-form-txt > button {

    font-size:1.5em;


}

.storyboard-form-txt textarea {

    margin-bottom:5px;
    font-family: Arial, Sans-serif;
    background-color:rgba(75,75,75,0.6);
    color:#FFF;
    font-size:1.1em;
    width:100%;
    height:200px;
    display:block;

}

#user-queue {
    z-index:19;
}

#user-queue .menu-right-tab {
    top:100px;
    background-color:#660033;
}

/* ACTION BOX */

.action-box-btn {

    position:absolute;
    background: #000;
    cursor: pointer;
    z-index:1;
    width:36px;
    height:36px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 5px 5px 5px;
    border-top:1px solid #333;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    display: block;
    text-align:center;
    margin-top:3px;
    right:-36px;

}

.action-box {

    width:100%; 
    height:100%;

}

label.action-upload input[type="file"] {
    position: fixed;
    top: -10000px;
}


.action-upload {
    width:100%;
    cursor:pointer;
    display: inline-block;
}

#action-node-name-change {
    border-bottom:1px solid #23527c;
    border-top:1px solid #23527c;
    margin-top:30px;
    margin-bottom:30px;
}


#actions-box-node-buildings-listing .row {
    
    font-size:0.9em;

}

#actions-box-node-buildings-listing .bbe-title {

    font-family: ACapt;
    font-size:1.8em;

}

#actions-box-node-buildings-listing .bbe-minititle {

    font-family: ACapt;
    font-size:1.3em;

}

#actions-box-node-buildings-listing span {
    display:block;
}

#actions-box-node-buildings-listing .bbe-amount {
    width:100%;text-align:center;    
}

#actions-box-node-buildings-listing .popover {
    min-width: 135px;
    background-color:#000;
    font-size:0.8em;

}
#actions-box-node-buildings-listing .popover-title {
    display:none;
}

#actions-box-node-buildings-listing .popover-content {
    border:3px solid #23527c;
    border-radius: 3px;
}

#actions-box-node-buildings-listing .popover.right>.arrow {
    left:-10px;
}

#actions-box-node-buildings-listing .popover.right>.arrow:after {

    border-right-color:#23527c;
    /*left:-10px;*/
}

#actions-box-node-buildings-listing a {

    cursor:pointer;

}

#actions-box-node-buildings-listing a.action-buildings-btn > i {

    margin-top:15px;

}

#actions-box-node-buildings-listing .bbm-lister {
    
    font-family:ACapt;
    font-size:3em;
    width:100%;
    text-align:center;    

}

#actions-box-node-buildings-listing .action-buildings-btn-buy-costinger {

    /*font-size:0;    */
    display: none;

}