<div style="border-bottom:1px solid #7C7C7C;margin-bottom:5px;">
<h2>{{data.interface.focus.starObj.aspects.name}}</h2>
{{data.interface.focus.starObj.aspects.star_type}}
</div>
<div style="padding:5px;font-size:0.9em;">

	<div>
		Type: {{data.interface.focus.starObj.aspects.type}}
	</div>

	<div>
		Mass: {{data.interface.focus.starObj.aspects.mass}}
	</div>

	<div>
		Size: {{data.interface.focus.starObj.aspects.r0}}
	</div>

	<div>
		Planetoids: {{data.interface.lists.nodes.length}} Planetoids
	</div>

	<div>
	Temperature (K): {{data.interface.focus.starObj.aspects.K}}
	</div>
	<div>
	Luminosity: {{data.interface.focus.starObj.aspects.lum}}
	</div>

	<div ng-show="data.interface.focus.starObj.aspects.discovered_by">
	discovered by {{data.interface.focus.starObj.aspects.discovered_by}} (@ {{data.interface.focus.starObj.aspects.discovered_on}})
	</div>

</div>