<div style="border-bottom:1px solid #7C7C7C;margin-bottom:5px;">
	<h2>{{data.interface.focus.nodeObj.name}}</h2>
	{{data.interface.focus.nodeObj.type}}
</div>

<div style="padding:5px;font-size:0.9em;">
	<div ng-if="data.interface.focus.nodeObj.type == 'asteroids' || data.interface.focus.nodeObj.type == 'asteroids'">
	x
	</div>
	<div ng-if="data.interface.focus.nodeObj.type == 'gas' || data.interface.focus.nodeObj.type == 'rock' || data.interface.focus.nodeObj.type == 'moon'">
<!-- 		<div>
			<img src="" />
		</div>
 -->

	 	<div style="float:left;width:50%;padding:0;margin:0">
	 		<h3>Stats</h3>
			<table style="font-size: 0.9em;">
				<tr>
					<td>Size</td><td>{{data.interface.focus.nodeObj.type_size}}</td>
				</tr>
				<tr>
					<td>Radius</td>
					<td>
						{{data.interface.focus.nodeObj.type_size_r0}} e
					</td>
				</tr>
				<tr>
					<td>Mass</td><td>{{data.interface.focus.nodeObj.type_mass}}</td>
				</tr>				
				<tr>
					<td>Rotation (24h)</td><td>{{data.interface.focus.nodeObj.rotation}}</td>
				</tr>					
				<tr ng-if="data.interface.focus.nodeObj.type != 'gas'">
					<td>Surface</td><td>{{data.interface.focus.nodeObj.type_surface}}</td>
				</tr>
				<tr ng-if="data.interface.focus.nodeObj.type != 'gas'">
					<td>Surface Quality</td><td>{{data.interface.focus.nodeObj.type_surface_quality}}</td>
				</tr>			
				<tr>
					<td>Atmosphere</td><td>{{data.interface.focus.nodeObj.type_atmosphere}}</td>
				</tr>
				<tr ng-if="data.interface.focus.nodeObj.type != 'gas'">
					<td>Atmospheric Density</td><td>{{data.interface.focus.nodeObj.type_atmosphere_density}}</td>
				</tr>
			</table>
		</div>
	 	<div style="float:left;width:50%;padding:0;margin:0">
	 		<h3>Orbit</h3>
			<table style="font-size: 0.9em;">
				<tr>
					<td>Orbit</td><td>{{data.interface.focus.nodeObj.au}} <span ng-if="data.interface.focus.nodeObj.type == 'gas' || data.interface.focus.nodeObj.type == 'rock'">au</span><span ng-if="data.interface.focus.nodeObj.type == 'moon'">x10<sup>5</sup>km</span></td>
				</tr>
				<tr>
					<td>Inclination</td><td>{{data.interface.focus.nodeObj.orb_incl}}&deg;</td>
				</tr>				
				<tr>
					<td>Velocity</td><td>{{data.interface.focus.nodeObj.velocity}} m<sup>3</sup></td>
				</tr>
				<tr>
					<td>Duration</td><td>{{data.interface.focus.nodeObj.velocity}} days</td>
				</tr>

			</table>
		</div>		
	</div>
	<div ng-if="data.interface.focus.nodeObj.type == 'colony'">
	xxx
	</div>
	<div ng-if="data.interface.focus.nodeObj.type == 'ship'">
	xxxx
	</div>
</div>
