	<div ng-click="uU.showMenu = !uU.showMenu"><i class="fa fa-bars" aria-hidden="true"></i></div>
	<div class="dropdown-list" ng-show="uU.showMenu">
		<div>
			<div ng-repeat="item in uU.list" ng-click="uU.select(item)">
				<span ng-click="uU.select(item)"><i class="fa fa-check"></i>{{item}}</span>
			</div>
		</div>
	</div>