			<a href="/#/home" class="logo" ><img src="/assets/img/logo_small.png" /></a>
			<div class="cluster" ng-if="$parent.data.interface.focus.cluster">{{$parent.data.interface.focus.cluster}} cluster</div>
			<topnavmenu class="menu">